apscheduler==3.11.0 ; python_version >= "3.12" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.3.1 ; python_version >= "3.12" and python_version < "4.0"
requests
beautifulsoup4
python-telegram-bot
apscheduler
nest_asyncio